@import "../../../variables";
.newPostContainer {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
.form {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 3rem;
  padding: 1rem;
}
.form label {
  align-self: flex-start;
  padding-left: 1rem;
  margin-top: .5rem;
}
.form textarea {
  min-width: 300px;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid $primary-color;
  height: 150px;

}
.form textarea {
  resize: vertical;
}

:focus {
  outline: none;
}
.input{
  cursor: pointer;
  background-color: unset;
  position: relative;
  width: 100%;
}
.start__app__input__effect{
  min-width: 300px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid $primary-color;
  padding: 15px 25px 15px 15px;
  color: $primary-color;
  background-color: unset;
  transition: 0.4s;
}
.start__app__input__effect::placeholder {
  color: $primary-color;
}
.start__app__input__effect ~ .start__app__input__focus__border{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $primary-color;
  transition: 0.4s;
}
.start__app__input__effect:focus ~ .start__app__input__focus__border{
  width: 100%;
  transition: 0.4s;
  left: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.start__app__button {
  display: flex;
  justify-content: center;
  padding: .7rem 2rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid $primary-color;
  cursor: pointer;
  color: $primary-color;
  background-color: unset;
  &:hover {
    box-shadow: 0 0 10px $primary-color;
  }
}