@import '../../../../variables';
.RecipeBox {
  max-width: 800px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
}
.summary {
  width: 100%;
  line-height: 1.6rem;
  text-align: justify;
  padding: 1rem 0;
}
h4 {
  margin-bottom: 1rem;
}
h2 {
  color: $secondary-color;
}
.ingredients {
  width: 100%;
  ol {
    list-style-type: circle;
    padding-left: 1.3rem;
  }
}
.image {
  width: 100%;
  border-radius: 2rem;
  margin: .5rem 0;
}
.instruction {
    width: 100%;
    line-height: 1.6rem;
    text-align: justify;
    ol {
      padding-left: 1rem;
    }
}