.login__container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start__app__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 15px 25px 15px 15px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #5761B2;
  cursor: pointer;
  color: #5761B2;
  background-color: unset;
  position: relative;
}
.start__app__button::before {
  content: '';
  position: absolute;
  right: -1px;
  top: -1px;
  box-sizing: content-box;
  background-color: #5761B2;
  width: 60px;
  height: 103%;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}
.start__app__button_arrow {
  font-size: 1.2rem;
  color: #E2D1C3;
  animation: slideIn 4s ease-in-out 0.5s infinite;
  position: relative;
  z-index: 10;
}
@keyframes slideIn {
  0% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(3px);
  }
}
.start__app__button:hover {
  box-shadow: 0 0 5px #5761B2,
  0 0 10px #5761B2,
  0 0 25px #5761B2;
}

:focus {
  outline: none;
}
.input{
  margin-bottom: 20px;
  cursor: pointer;
  background-color: unset;
  position: relative;
}
.start__app__input__effect{
  width: 300px;
  outline: none;
  border: none;
  border-bottom: 1px solid #5761B2;
  padding: 15px 25px 15px 15px;
  color: #5761B2;
  background-color: unset;
  transition: 0.4s;
}
.start__app__input__effect::placeholder {
  color: #5761B2;
}
.start__app__input__effect ~ .start__app__input__focus__border{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #5761B2;
  transition: 0.4s;
}
.start__app__input__effect:focus ~ .start__app__input__focus__border{
  width: 100%;
  transition: 0.4s;
  left: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}