@import "../../src/variables";
.container__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.form {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.form__email span{
  padding-left: 20px;
}
.form__input {
  margin: 20px 0;
  label {
    padding-bottom: unset;
  }
}
.form__input input {
  margin-left: 10px;
}

:focus {
  outline: none;
}

.start__app__input__effect{
  min-width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid $primary-color;
  color: $primary-color;
  background-color: unset;
  transition: 0.4s;
}
.start__app__input__effect::placeholder {
  color: $primary-color;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
@media screen and (max-width: 500px){
  .form {
    flex-direction: column;
  }
  .form__email {
    display: flex;
    flex-direction: column;
    span {
      padding: 1rem 0;
      word-break: break-word;
    }
  }
  .form__input {
    display: flex;
    flex-direction: column;
    label {
      padding-bottom: 1rem;
    }
  }
  .form__input input {
    margin-left: unset;
  }
}